#map{
      position: absolute;
      left: 0px;
      padding: 0px;
      width: 100%;
      height: calc(100vh - 60px);
    } 

    #sbox{
      height: 60px;
      border:none;
      color: #333;
      outline: none;
    }

    #search{
      border:none;
    }

    #sbut{
      background: #FFF;
      height: 60px;
      padding-top: 1em;
    }

    #results-button{
      left: calc(50vw - 12px);
    }
