/* GENERAL */
    
.slide{
    
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    background: #FFF;
    top: 0px;
    left: 0px;
    padding: 10px;
    
}
.row{
	margin-left: 0;
	margin-right: 0;
}

/* BÚSQUEDA */

#map{
	position: absolute;
	left: 0px;
	padding: 0px;
	width: 100%;
	height: calc(100vh - 60px);
}

#second_map{
	position: absolute;
	left: 0px;
	padding: 0px;
	width: 100%;
	height: 100vh;
}

#sbox{
	height: 60px;
	border:none;
	color: #333;
	outline: none;
}

#search{
	border:none;
	box-shadow: none;
	border-radius: 0px;
}

#sbut, #ubication-button{
	background: #FFF;
	height: 60px;
	padding-top: 1em;
	border-radius: 0px;
}

#station_slide > .container-fluid > .row > .col {
	padding: 0;
}

#station_slide .btn-primary {
	background-color: #0069d9; 
	color: #fff;
}

#station_slide .btn-primary:focus {
	background-color: #fff; 
	color: #0069d9;
	border-color: #0069d9;
}
