/* GENERAL */
    
.slide{
    
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    background: #FFF;
    top: 0px;
    left: 0px;
    padding: 10px;
    
}

/* BÚSQUEDA */

#map{
	position: absolute;
	left: 0px;
	padding: 0px;
	width: 100%;
	height: calc(100vh - 60px);
}

#sbox{
	height: 60px;
	border:none;
	color: #333;
	outline: none;
}

#search{
	border:none;
	box-shadow: none;
	border-radius: 0px;
}

#sbut{
	background: #FFF;
	height: 60px;
	padding-top: 1em;
	border-radius: 0px;
}

#results-button{
      left: calc(50vw - 12px);
}
